.App {
  min-height: 13rem;
  justify-content: center;
  display: flex;
  flex-flow: column;
  background: #85144b;
  color: #ffff;
}

.title-container {
    padding: 1rem;
}

.title-container .title {
  padding: 1rem;
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

.task-container {
  padding: 1rem;
}

.task-container h3 {
  padding-bottom: 1rem;
}

.accordion {
  padding-bottom: 1rem;
}